body{
    background-color: lightslategrey;
    text-align: center;
    color:antiquewhite;
    font-family: monospace;
}

a {
    color:antiquewhite;
    text-decoration: none;
}

a:hover {
    color: wheat;
    text-decoration:line;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}