<nav>
    <a href="http://www.linkedin.com/in/aaron-sowah">LinkedIn</a> ||
        <a href="https://github.com/Aaron0066">GitHub</a> ||
        <a href="https://webpages.charlotte.edu/asowah/">CLT Web</a> ||
        <a href="https://aaron0066.github.io/">GitHub.io</a> ||
        <a href="https://www.codecademy.com/profiles/Aaronsowah01">Codecademy</a> ||
        <a href="https://www.freecodecamp.org/Aaronsowah01">Freecodecamp</a> ||
        <a href="https://webpages.charlotte.edu/asowah/itis3135/">itis3135</a>
        
    </nav>
    <p>Page Built by <a href="aaronfirm/">Agile Snake Enterprises</a> &copy; 2025,
        <em>Certified in <a href="https://www.freecodecamp.org/certification/Aaronsowah01/responsive-web-design">Responsive Web Design</a></em>
     </p>
     

    <p>
        <a href="https://validator.w3.org/nu/?doc=https://webpages.charlotte.edu/asowah/" target="_blank">
            <img src="https://www.w3.org/Icons/valid-html401" alt="Valid HTML!" width="88" height="31">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/validator?uri=https://webpages.charlotte.edu/asowah/" target="_blank">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" width="88" height="31">
        </a>
    </p>